.container1 {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.flag-left {
  float: left;
}
.flag-right {
  float: right;
}
.flag-none {
  display: none;
}

.btn-container {
  display: grid;
  padding: 40px;
  align-items: center;
  justify-items: center;
}
.btn-main {
  font-size: 3rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
  .container1 {
    display: grid;
    justify-items: center;
  }
  html {
    font-size: 10px;
  }
  img {
    max-width: 40%;
  }
  h1 > span {
    display: none;
  }
  h1 {
    margin: 5px auto;
  }
}
